.item {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  column-gap: 0.25rem;
  width: 100%;
}

.title {
  font: var(--font-label);
  font-weight: 700;
}

.container {
  margin-top: 3rem;
}
